<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liudehuang.datasource.mapper.UserMapper">

    <resultMap id="userMap" type="com.liudehuang.datasource.entity.UserEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="mchId" column="mch_id"/>
    </resultMap>

    <sql id="user_table">
        user_${mchId}
    </sql>

    <select id="queryUser" resultMap="userMap" parameterType="com.liudehuang.datasource.entity.UserDTO">
        select id,name,mch_id
        from <include refid="user_table"/>
        where id = #{id}
    </select>

    <insert id="saveUser" parameterType="com.liudehuang.datasource.entity.UserEntity">
        insert into <include refid="user_table"/> (id,name,mch_id)values (#{id},#{name},#{mchId})
    </insert>
</mapper>